{% extends "base.html" %}

{% block title %} Portfolio {% endblock %}

{%block body %}
<div class="container-1">
  <div>{% include 'components/header.html' %}</div>
  <div class="main">
    <!-- home -->
    {% if request.path == '/portfolio/' %}
    <div class="cont-home">{% include 'components/home.html' %}</div>
    {% endif %}
    <!-- home -->
    <!-- about -->
    {% if request.path == '/portfolio/about/' %}
    <div class="cont-about">{% include 'components/about.html' %}</div>
    {% endif %}
    <!-- about -->
    <!-- services -->
    {% if request.path == '/portfolio/services/' %}
    <div class="cont-service">{% include 'components/service.html' %}</div>

    {% endif %}
    <!-- services -->
    <!-- contact -->
    {% if request.path == '/portfolio/contact/' %}
    <div class="cont-contact">{% include 'components/contact.html' %}</div>
    {% endif %}
    <!-- contact -->
  </div>
</div>
{% endblock %}