* {
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  all: unset;
}

html,
body {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}

.t1 {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

body {
  /* padding: 20px; */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

img {
  width: 100px;
  height: auto;
}

.nav-btn {
  position: relative; /* Position relative to allow absolute positioning of the pseudo-element */
  padding: 10px 30px;
  cursor: pointer;
  overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
}

.nav-btn::after {
  content: ""; /* Required for pseudo-elements */
  position: absolute; /* Position it absolutely within the .nav-btn */
  left: 50%; /* Start from the center */
  bottom: 0; /* Align to the bottom */
  width: 0; /* Start with a width of 0 */
  height: 2px; /* Height of the border */
  background-color: rgb(0, 0, 0); /* Color of the border */
  transition: width 0.1s ease, left 0.5s ease; /* Transition for width and left */
}

.nav-btn:hover::after {
  width: 100%; /* Expand to full width on hover */
  left: 0; /* Move to the left to align with the button */
}

.nav-btn.nav-active:hover::after {
  width: 0;
  left: 0;
}

.nav-active {
  border-bottom: 2px solid rgb(0, 0, 0);
  font-weight: bold;
}

.main-btn {
  padding: 10px 30px;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  background: black;
}

.header {
  text-align: center;
  padding: 10px 0;
}

.body {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
  margin: auto;
}

.cont-home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .sec-home-1,
  .sec-home-2 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .wr-home {
      height: 100%;
      max-width: 1200px;
      position: relative;
    }
  }

  .sec-home-1 {
    .intro {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
    }

    .bg-img {
      position: absolute;
      bottom: -200px;
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: center;

      img {
        object-fit: contain;
        width: 75%;
        height: auto;
      }
    }
  }

  .sec-home-2 {
    background-color: rgba(0, 0, 0, 0.038);

    .intro {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;

      .t2 {
        padding: 0 120px;
        text-align: justify;
        line-height: 1.3;
        font-size: large;
      }

      .t2:hover {
        .highlight {
          text-transform: uppercase;
          background-color: black;
          color: white;
          transition: all 1s ease;
        }
      }
    }
  }
}

.nav {
  display: flex;
  height: auto;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.main {
  flex: 1;
  width: 100%;
}

.wrapper-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
