* {
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  all: unset;
}

html,
body {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}

.t1 {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

body {
  padding: 20px;
}

img {
  width: 100px;
  height: auto;
}

.nav-btn {
  padding: 10px 30px;
  cursor: pointer;
}

.nav-btn:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.nav-active {
  border-bottom: 2px solid rgb(0, 0, 0);
  font-weight: bold;
}

.main-btn {
  padding: 10px 30px;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  background: black;
}

.header {
  text-align: center;
  padding: 10px 0;
}

.body {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

.nav {
  display: flex;
  height: auto;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.main {
  flex: 1;
  width: 100%;
}

.wrapper-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
