<div class="sec-about-1">
    <div class="wr-about">

        <div class="card-1">
            <div class=" card items-center mb-5 gap-2">
                <p class="ms-2 font-medium font-bold text-gray-900 dark:text-white">Skills</p>
                <p class="text-sm font-medium text-gray-500 dark:text-gray-400">376 reviews</p>
            </div>
            <div class="gap-8 sm:grid sm:grid-cols-2">
                <div>
                    <dl>
                        <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">HTML</dt>
                        <dd class="flex items-center mb-3">
                            <div class="w-full bg-gray-200 rounded-sm h-2.5 dark:bg-gray-700 me-2">
                                <div class="bg-blue-600 h-2.5 rounded-sm dark:bg-blue-500" style="width: 88%"></div>
                            </div>
                            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">8.8</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">CSS</dt>
                        <dd class="flex items-center mb-3">
                            <div class="w-full bg-gray-200 rounded-sm h-2.5 dark:bg-gray-700 me-2">
                                <div class="bg-blue-600 h-2.5 rounded-sm dark:bg-blue-500" style="width: 89%"></div>
                            </div>
                            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">8.9</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">JS/TS</dt>
                        <dd class="flex items-center mb-3">
                            <div class="w-full bg-gray-200 rounded-sm h-2.5 dark:bg-gray-700 me-2">
                                <div class="bg-blue-600 h-2.5 rounded-sm dark:bg-blue-500" style="width:50%"></div>
                            </div>
                            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">5.0</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">PHP</dt>
                        <dd class="flex items-center">
                            <div class="w-full bg-gray-200 rounded-sm h-2.5 dark:bg-gray-700 me-2">
                                <div class="bg-blue-600 h-2.5 rounded-sm dark:bg-blue-500" style="width: 54%"></div>
                            </div>
                            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">5.4</span>
                        </dd>
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Angular</dt>
                        <dd class="flex items-center mb-3">
                            <div class="w-full bg-gray-200 rounded-sm h-2.5 dark:bg-gray-700 me-2">
                                <div class="bg-blue-600 h-2.5 rounded-sm dark:bg-blue-500" style="width: 89%"></div>
                            </div>
                            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">8.9</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Django</dt>
                        <dd class="flex items-center mb-3">
                            <div class="w-full bg-gray-200 rounded-sm h-2.5 dark:bg-gray-700 me-2">
                                <div class="bg-blue-600 h-2.5 rounded-sm dark:bg-blue-500" style="width: 40%"></div>
                            </div>
                            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">4.0</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Google Workspace</dt>
                        <dd class="flex items-center">
                            <div class="w-full bg-gray-200 rounded-sm h-2.5 dark:bg-gray-700 me-2">
                                <div class="bg-blue-600 h-2.5 rounded-sm dark:bg-blue-500" style="width: 89%"></div>
                            </div>
                            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">8.9</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>
</div>