{% load static %}

<div class="sec-home-1">
  <div class="wr-home">
    <div class="intro">
      <p>I am an</p>
      <div class="t1">ASPIRING GRAPHIC DESIGNER</div>
      <i><p>"Ask me if I can, I'll tell you if I can"</p></i>
    </div>
    <div class="bg-img">
      <img src="{% static 'bg.png' %}" />
    </div>
  </div>
</div>

<div class="sec-home-2">
  <div class="wr-home">
    <div class="intro">
      <div class="t1">"</div>
      <div class="t2">
        I'am <span class="highlight">Giervan Sabalbero</span>, a highly
        motivated and adaptive learner with a strong foundation in multimedia
        software applications and <span class="highlight">graphic design</span>.
        Proven track record of creating engaging publication materials,
        designing work-related documents, assisting with event presentations,
        and graphic designs to boost market engagement both online and offline.
        Known for being cooperative, efficient, hardworking, and innovative with
        a goal-oriented approach. Demonstrates excellent etiquette and
        professionalism in all endeavors
      </div>
    </div>
  </div>
</div>
