{% load static %}

<div class="sec-service-1">
  <div class="wr-service">
    <a
      class="card flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
    >
      <img
        class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
        src="{% static '2.png'%}"
        alt=""
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Graphic Designing
        </h5>
        <p class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400">
          Create visual content to communicate messages effectively. They use
          typography, imagery, color, and layout to design various materials,
          including logos, brochures, advertisements, and social media graphics.
          Their work often involves understanding client needs, brainstorming
          concepts, and using design software to produce visually appealing and
          impactful designs.
        </p>
      </div>
    </a>

    <a
      class="card flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
    >
      <img
        class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
        src="{% static '5.png'%}"
        alt=""
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Layout Designing
        </h5>
        <p class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400">
          Focus on the arrangement of visual elements within a given space,
          whether in print or digital media. They create structured designs that
          guide the viewer's eye and enhance the overall aesthetic and
          functionality of a project. This role involves selecting typography,
          images, and other graphic elements, as well as determining how these
          components interact within a grid or framework.
        </p>
      </div>
    </a>

    <a
      class="card flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
    >
      <img
        class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
        src="{% static '3.png'%}"
        alt=""
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          UI/UX Designing on Figma
        </h5>
        <p class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400">
          Focus on enhancing user satisfaction by improving the usability and
          accessibility of digital products. Using tools like Figma, they design
          user interfaces (UI) and create user experiences (UX) that are
          intuitive and engaging. Their responsibilities include conducting user
          research, creating wireframes and prototypes, and collaborating with
          developers to ensure that the final product meets user needs and
          business goals.
        </p>
      </div>
    </a>

    <a
      class="card flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
    >
      <img
        class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
        src="{% static '4.png'%}"
        alt=""
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Frontend Development
        </h5>
        <p class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400">
          Responsible for implementing the visual and interactive elements of a
          website or application that users engage with directly. They use
          languages like HTML, CSS, and JavaScript to build responsive and
          dynamic user interfaces. Frontend developers work closely with
          designers to translate design mockups into functional code, ensuring
          that the application is visually appealing, user-friendly, and
          performs well across different devices and browsers.
        </p>
      </div>
    </a>
  </div>
</div>
